body {
  background-image: url("../src/images/airsoft-military-game-2021-08-26-18-36-56-utc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  
  
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.box {
  display: flex;
  background-color: #383838;
  border: 1px solid black;
  opacity: 0.6;
  height: 40rem;
  width: 80rem;
}


/* start of media  */
@media (max-width: 768px) { 
  body {

    background-image: url("../src/images/airsoft-military-game-2021-08-26-18-36-56-utc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

  }

  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  
  }
  
  .box {
    display: flex;
    background-color: #383838;
    border: 1px solid black;
    opacity: 0.6;
    height: 30rem;
    width: 40rem;
  }

}

@media (max-width: 320px) {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  
  }
  
  .box {
    display: flex;
    background-color: #383838;
    border: 1px solid black;
    opacity: 0.6;
    height: 30rem;
    width: 18rem;
  }
}