/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Black+Ops+One&family=Rubik+Dirt&display=swap');

/* ==================================== main header image section ======================================= */
.container {
  /* border: 2px solid rgb(19, 166, 229); */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;

}

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* border: 2px solid greenyellow; */
  width: 100%;
  height: 100%;
}

.slogan {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  font-family: 'Bangers';
  color: white;
  font-size: 3rem;

}

.combat-cafe {
  position: absolute;
  top: 100px;
  font-size: 4rem;
  /* transform: translate(-23%, -120%) !important; */
  color: white;
  font-family: 'Black Ops One';
  flex-wrap: wrap;
}



.divider {
  background-color: rgb(36, 35, 35);
  height: 70px;
}

/* ==============================================mission section ===============================================*/
.mission-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  /* position: absolute!important; */
  top: 0;
  z-index: 0;
  /* border: 2px solid rgb(240, 9, 47); */
}

.mission-div {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  margin-left: auto !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  /* border: 2px solid greenyellow; */
}

.mission-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  float: right;
  vertical-align: middle;
  border: 0;
}

.ourmission-container {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  /* border: 2px solid blue; */
}

.ourmission-div {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 41%;
}


.OurMission {
  color: #70bb05;
  font-size: 5em;
  font-family: 'Black Ops One';
}

.info {
  /* border: 2px solid purple; */
  position: relative;
  bottom: 80px;
  width: 60%;
  font-family: 'Rubik Dirt', cursive;
}

.mission-button {
  width: 9em;
  height: 3em;
  background-color: #232323;
  color: #70bb05;
  font-family: 'Rubik Dirt', cursive;
}

.info-link {
  /* border: 2px solid purple; */
  position: relative;
  bottom: 70px;
}

/* .text {
  height: 50px;
  border: 2px solid red;

}




/* ==============================================shop section===================================================*/
.shop-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  /* position: absolute!important; */
  top: 0;
  z-index: 0;
  /* border: 2px solid rgb(240, 9, 47); */
  background-color: rgb(36, 35, 35);
}

.shop-div {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  margin-right: auto !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
  /* border: 2px solid greenyellow; */

}

.shop-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* float: right; */
  vertical-align: middle;
  border: 0;
}

.text-container {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  /* border: 2px solid blue; */
}

.text-div {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 58%;
  position: absolute;
  height: 100%;
  width: 41%;
}

.shop {
  font-family: 'Black Ops One';
  color: #70bb05;
  font-size: 5em;
}

.shop-btn {
  width: 9em;
  height: 3em;
  background-color: #619319;
  color: black;
  font-family: 'Rubik Dirt', cursive;
}

/* =================================== start of menu ============================================ */
.food-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* position: relative; */
  width: 100%;
  height: 100%;
  margin: 10px;
  /* border: 2px solid blue; */

}

.food {
  width: 20rem;
  height: 15rem;
  margin: 10px;
}


/* ===================================about slide show ========================================== */
.slide-container>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}




/* ================================== Footer =================================================== */
.footer {
  width: 100%;
  height: 30vh;
  background-color: #232323;
}

.footer-logo {
  display: flex;
  top: 40px;
  left: 200px;
  position: relative;
  border-radius: 20px 20px;
}

.line {
  height: 1px;
  width: 80%;
  position: relative;
  left: 15rem;
  top: 60px;
  background-color: #70bb05;
}

.footer-rights {
  color: white;
  top: 55px;
  left: 240px;
  position: relative;
}


/* ======================================= media =============================================== */

/*Small smartphones [325px -> 425px]*/
@media only screen and (max-width: 325px) {
  .main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .main-img img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  .mission-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    /* position: absolute!important; */
    top: 0;
    z-index: 0;
    /* border: 2px solid rgb(240, 9, 47); */
  }

  .mission-div {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    margin-left: auto !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    /* border: 2px solid greenyellow; */
  }

  .mission-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    float: right;
    vertical-align: middle;
    border: 0;
  }

  .ourmission-container {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    /* border: 2px solid blue; */
  }

  .ourmission-div {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 41%;
  }


  .OurMission {
    color: #70bb05;
    font-size: 5em;
    font-family: 'Black Ops One';
  }

  .info {
    /* border: 2px solid purple; */
    position: relative;
    bottom: 80px;
    width: 60%;
    font-family: 'Rubik Dirt', cursive;
  }

  .mission-button {
    width: 9em;
    height: 3em;
    background-color: #232323;
    color: #70bb05;
    font-family: 'Rubik Dirt', cursive;
  }

  .info-link {
    /* border: 2px solid purple; */
    position: relative;
    bottom: 70px;
  }




  .food {
    /* display: flex; */
    /* flex-direction: row;
  flex-wrap: wrap; */
    /* position: relative; */
    width: 5rem;
    height: 5rem;
    margin: 10px;
    /* margin-left: -600px; */

  }
}


@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/

  .main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .main-img img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  /* header text */
  .cafe-name {
    position: absolute;
    top: 15%;
    left: 40%;
    font-size: 1rem;
    transform: translate(-30%, -30%);
    font-family: 'Black Ops One';
    color: white;
  }

  .breakfast {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 2vh;
    font-size: 3vw;
    transform: translate(-50%, -50%);
    font-family: 'Bangers';
    color: white;
  }

  /* start of mission section  */
  .mission {
    height: 11rem;
    width: 13rem;


  }

  .OurMission {
    font-family: 'Black Ops One';
    float: right;
    width: 9rem;
    color: black;
    font-size: 2vh;
  }

  .shop-img {
    height: 11rem;
    width: 13rem;
    left: 5px;
    margin-top: -4px;

    border: 1px solid darkolivegreen;
  }

  .shop {
    display: flex;
    float: left;
    font-family: 'Black Ops One';
    width: 8rem;
    color: white;
    font-size: 2vh;
  }

  .shop-box {
    background-color: black;
    height: 11rem;
    width: 10rem;
    margin-top: -4px;
    float: left;
  }

  .divider {
    background-color: black;
    height: 50px;
  }

  .food {
    /* display: flex; */
    /* flex-direction: row;
  flex-wrap: wrap; */
    /* position: relative; */
    width: 7rem;
    height: 7rem;
    margin: 10px;
    /* margin-left: -600px; */

  }
}


@media only screen and (max-width: 1200px) {

  /*Tablets [601px -> 1200px]*/
  /* ==================================== main header image section ======================================= */
  .main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .main-img img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }


  .breakfast {
    position: absolute;
    top: 52%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Bangers';
    color: white;
    width: 100%;
    font-size: 2rem;
  }

  .cafe-name {
    position: absolute;
    top: 40%;
    left: 55%;
    width: 100%;
    font-size: 6rem;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Black Ops One';
  }


  .main-img {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

  }

  .main-img img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .divider {
    background-color: rgb(36, 35, 35);
    height: 70px;
  }


  /* ================================== Footer =================================================== */
  .footer {
    width: 100%;
    height: 30vh;
    background-color: #232323;
  }

  .footer-logo {
    display: flex;
    top: 40px;
    left: 50px;
    position: relative;
    border-radius: 20px 20px;
  }

  .line {
    height: 1px;
    width: 80%;
    position: relative;
    left: 5rem;
    top: 60px;
    background-color: #70bb05;
  }

  .footer-rights {
    color: white;
    top: 55px;
    left: 90px;
    position: relative;
  }

  /* ===========================================Mission section ================================ */
  .mission-div {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
    margin-left: auto !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    /* border: 2px solid greenyellow; */
  }

  .mission-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    float: right;
    vertical-align: middle;
    border: 0;
  }

  .ourmission-container {
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    /* border: 2px solid blue; */
  }

  .ourmission-div {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 41%;
  }


  .OurMission {
    color: #70bb05;
    font-size: 2em;
    font-family: 'Black Ops One';
  }

  .info {
    /* border: 2px solid purple; */
    position: relative;
    bottom: 40px;
    width: 90%;
    font-family: 'Rubik Dirt', cursive;
  }

  .mission-button {
    width: 9em;
    height: 3em;
    position: relative;
    top: 30px;
    background-color: #232323;
    color: #70bb05;
    font-family: 'Rubik Dirt', cursive;
  }

  .info-link {
    /* border: 2px solid purple; */
    position: relative;
    bottom: 70px;
  }
}